
@{
    ViewBag.Title = "Index";
    // Layout = "~/Areas/Admin/Views/Shared/_AreasLayout.cshtml";
}

<div class="w3-container w3-center">
    <div class="w3-animate-fading">
        <p class="w3-xxxlarge">Welcome To Admin Section</p>
    </div>

</div>

